* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --dark: #1b1a1f;
  --red: #ff5251;
  --grey: #777;
  --ultra-light-red: #f6efef;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--grey);
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*                      HEADER              */

.header-top {
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: var(--ultra-light-red);
  padding: 1.25rem;
  margin-bottom: 4rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.dot-header {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--red);
}

.logo-link {
  font-family: "Satisfy", cursive;
  font-size: 2.5em;
  text-decoration: none;
  color: var(--dark);
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
}

.navigation ul li {
  list-style: none;
  margin-right: 2rem;
}

.navigation ul li a:hover {
  color: var(--red);
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--dark);
  text-transform: capitalize;
  transition: ease-in-out 0.5s;
}

.header-greetings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 8rem 0 4rem 0;
}

.header-greetings h1 {
  margin: 0;
  font-size: 3.5rem;
  color: var(--dark);
}

.header-greetings h1 > span {
  color: var(--red);
}

.header-greetings img {
  border: 5px solid var(--ultra-light-red);
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.header-greetings p {
  font-size: 1.5rem;
}